html{
    font-family:"Permanent Marker", Arial, Helvetica, sans-serif;
    background-color: powderblue;
    font-size: 20px;
}

header{
    display: block;
    text-align: center;
    padding-bottom: 5rem;

}
header a:hover{
    font-size: larger;
}
header a:active{
    color:white;
}
header a:visited{
    
}
body{
    
}

.family{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.family p{
    font-size: 0.75rem;
}